#headers{
  z-index: -1;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #666f7d;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  margin-top: 4em;
}

#img1 {
  margin-top: 25%;
}