.header{
  /* z-index: -1; */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #00105e;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  margin-top: 3em;
  color: #bfff00c1;
}

#img1 {
  margin-top: 25%;
}
